.container{
    padding: 3rem;
    box-sizing: border-box;
    display: block; 
}

.title {
  color: #212112;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  width: 10%;
  transition: 1.2s;
  text-align: center;
  
}

.title:hover{
  color: #f44336;
}

.title::before {
  margin-left: auto;
}

.title::after, .title::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.title:hover::after, .title:hover::before {
  width: 100%;
}

.containerText{
    display: block;
    margin-top: 7%;
    padding-right: 10em;
} 

.containerText p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-size: 18px;
    line-height: 1.5;   
    text-align: justify; 
}