.container{
    padding: 3rem;
    box-sizing: border-box;
   
}

.container .title{
    text-transform: uppercase;
    font-size: 20px;
    width: 6.7rem;
    text-align: center;
    margin-top: 8%;
    cursor: pointer;
    transition: 0.9s;
}

.container .title:hover{
    color: #f81414;
}


.container .title::before {
    margin-left: auto;
  }
  
  .container .title::after, .title::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f81414;
    display: block;
    transition: 0.5s;
  }
  
  .container .title:hover::after, .title:hover::before {
    width: 100%;
  }


.containerText{
    display: block;
    margin-top: 7%;
    padding-right: 10em;
}

.containerText p{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-size: 18px;
    line-height: 1.5;   
    text-align: justify; 
}