.main{
    text-align: center;
    background-color: #f5f2f2;
    color: #130202;
    min-width: 650px;
    height: 100vh;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.main h1{
    font-size:1.7em;
    font-weight: 400;
    margin-bottom: 5px;
}


.main h2{
    font-size:1.5em;
    font-weight: 300;
}

.imgContainer{
    margin-bottom: 30px;
    text-align: center;
}

.imgContainer img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(62, 62, 62, 0.565);
    transition: all 1s ease;
    margin-bottom: 10px;
}


.imgContainer img:hover{
    transform: scale(1.05);
    cursor: cell;
}

.imgContainer h4{
    margin-top: 5px;
    font-weight: 400;
}

.link {
    color: #130202;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    display: inline;
    justify-content: center;
    align-items: center;
  }
  
  .link::before {
    margin-left: auto;
  }
  
  .link::after, .link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .link:hover::after, .link:hover::before {
    width: 100%;
  }
